body{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    margin: 0px;
}

h1{
    font-size: 45px;
}

#left-border-text{
    border-left: 4px solid tomato;
    border-radius: 2px;
    padding: 10px;
}

#small-paragraph{
    padding-top: 20px;
    font-size: 15px;
}

.tomato-color{
    color: tomato;
}

.flexible-container{
    display: flex;
}

.half-section{
    width: 50%;
    padding: 40px;
}

a{
    background-color: tomato;
    text-decoration: none;
    padding: 12px 35px;
    color: white;
    border-radius: 5px;
}

p{
    padding-bottom: 20px;
    font-size: 20px;
}

.half-section img{
    width: 60%;
    margin: auto;
    display: block;
}

.second-container-item{
    width: 30%;
    padding: 25px;
    border-radius: 20px;
    margin: 2%;
}

.second-container-item img{
    width: 40%;
}

#mission{
    background-color: rgba(65, 105, 225, 0.267);
}

#vission{
    background-color: rgba(255, 255, 0, 0.274);
}

#goals{
    background-color: rgba(153, 205, 50, 0.308);
}